{#
 # Sharif Judge
 # file: add_assignment.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}{{ edit ? 'fa-edit' : 'fa-plus-square' }}{% endblock %}
{% block title %}{{ edit ? 'Edit' : 'Add' }} Assignment{% endblock %}
{% block head_title %}{{ edit ? 'Edit' : 'Add' }} Assignment{% endblock %}



{% block other_assets %}
<script type='text/javascript' src="{{ base_url('assets/js/taboverride.min.js') }}"></script>
<script>
	$(document).ready(function(){
		tabOverride.set(document.getElementsByTagName('textarea'));
	});
</script>
<script type="text/javascript" src="{{ base_url('assets/js/jquery-ui-timepicker-addon.js') }}"></script>
<script>
	shj.num_of_problems={{ problems|length }};
	shj.row='<tr><td>PID</td>\
		<td><input type="text" name="name[]" class="sharif_input short" value="Exerc\u00edcio "/></td>\
		<td><input type="text" name="score[]" class="sharif_input tiny2" value="100"/></td>\
		<td><input type="text" name="c_time_limit[]" class="sharif_input tiny2" value="500"/></td>\
		<td><input type="text" name="python_time_limit[]" class="sharif_input tiny2" value="1500"/></td>\
		<td><input type="text" name="java_time_limit[]" class="sharif_input tiny2" value="2000"/></td>\
		<td><input type="text" name="memory_limit[]" class="sharif_input tiny" value="50000"/></td>\
		<td><input type="text" name="weight[]" class="sharif_input tiny" value="1"/></td>\
		<td><input type="text" name="languages[]" class="sharif_input short2" value="C++"/></td>\
		<td><input type="text" name="diff_cmd[]" class="sharif_input tiny" value="diff"/></td>\
		<td><input type="text" name="diff_arg[]" class="sharif_input tiny" value="-bB"/></td>\
		<td><input type="checkbox" name="is_upload_only[]" class="check" value="PID"/></td>\
		<td><input type="checkbox" name="static_analysis[]" class="check" value="PID"/><td><i class="fa fa-times-circle fa-lg color1 delete_problem pointer"></i></td></td>\
		</tr>';
	shj.static_analysis_count = 0;
	$(document).ready(function(){
		$("#add").click(function(){
			$('#problems_table>tbody').append(shj.row.replace(/PID/g, (shj.num_of_problems+1)));
			shj.num_of_problems++;
			$("#nop").val(shj.num_of_problems);
		});
		$(document).on('click', '.delete_problem', function(){
			if (shj.num_of_problems==1) return;
			var row = $(this).parents('tr');
			row.remove();
			var i = 0;
			$('#problems_table>tbody').children('tr').each(function(){
				i++;
				$(this).children(':first').html(i);
				$(this).find('[type="checkbox"]').attr('value',i);
			});
			shj.num_of_problems--;
			$("#nop").val(shj.num_of_problems);
		});
		$('#start_time').datetimepicker({
			timeFormat: 'HH:mm:ss'
		});
		$('#finish_time').datetimepicker({
			timeFormat: 'HH:mm:ss'
		});
		$("#all_classes").click(function(){
			if($(this).is(":checked")){
				$(".possible_classes").prop("selected","selected");
				$("#classes").prop("readonly", true);
			}else{
				$(".possible_classes").prop("selected", false);				
				$("#classes").prop("readonly", false);
			}
		});
		$("#static_analysis").click(function(){
			if($(this).is(":checked")){
				shj.static_analysis_count++;
			}else{
				shj.static_analysis_count--;
			};
			if(shj.static_analysis_count == 0){
				$('#static_analysis_div').fadeOut('fast');
			}else{
				$('#static_analysis_div').fadeIn('fast');
			}
		});
		$(document).ready(function(){
			if($("#static_analysis").is(":checked")){
				shj.static_analysis_count++;
				$('#static_analysis_div').fadeIn('fast');
			}
		});
		
	});
</script>

	
{% endblock %}



{% block title_menu %}
<span class="title_menu_item">
	<a href="https://github.com/mjnaderi/Sharif-Judge/blob/docs/v1.4/add_assignment.md" target="_blank"><i class="fa fa-question-circle color1"></i> Help</a>
</span>
{% endblock %}



{% block main_content %}
{% set msgclasses = {'success': 'shj_g', 'notice': 'shj_o', 'error': 'shj_r'} %}
{% for message in messages %}
	<p class="{{ msgclasses[message.type] }}">{{ message.text }}</p>
{% endfor %}

{% if edit %}
<p>
	<i class="fa fa-info-circle fa-lg color8"></i> If you don't want to change tests or pdf file, just do not upload its file.
</p>
{% endif %}

{{ form_open_multipart(edit ? 'assignments/edit/'~edit_assignment.id : 'assignments/add') }}
<div class="panel_left">
	<input type="hidden" name="number_of_problems" id="nop" value="{{ edit ? edit_assignment.problems : problems|length }}"/>
	<p class="input_p">
		<label for="form_a_name">Assignment Name</label>
		<input id="form_a_name" type="text" name="assignment_name" class="sharif_input medium" value="{{ edit ? edit_assignment.name : set_value('assignment_name') }}"/>
		{{ form_error('assignment_name', '<div class="shj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="start_time">Start Time</label>
		<input id="start_time" type="text" name="start_time" class="sharif_input medium" value="{{ edit ? edit_assignment.start_time|date('m/d/Y H:i:s') : set_value('start_time') }}" />
		{{ form_error('start_time', '<div class="shj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="finish_time">Finish Time</label>
		<input id="finish_time" type="text" name="finish_time" class="sharif_input medium" value="{{ edit ? edit_assignment.finish_time|date('m/d/Y H:i:s') : set_value('finish_time') }}" />
		{{ form_error('finish_time', '<div class="shj_error">', '</div>') }}
	</p>
	<p class="input_p clear">
		<label for="form_extra_time">
			Extra Time (minutes)<br>
			<span class="form_comment">Extra time for late submissions.</span>
		</label>
		<input id="form_extra_time" type="text" name="extra_time" id="extra_time" class="sharif_input medium" value="{{ edit ? edit_assignment.extra_time|extra_time_formatter : set_value('extra_time') }}" />
		{{ form_error('extra_time', '<div class="shj_error">', '</div>') }}
	</p>
	<p class="input_p clear">
		<label for="form_participants">Participants<br>
			<span class="form_comment">Enter username of participants here (comma separated).
				Only these users are able to submit. You can use keyword "ALL".</span>
		</label>
		<textarea id="form_participants" name="participants" rows="5" class="sharif_input medium">{{ edit ? edit_assignment.participants : set_value('participants', 'ALL') }}</textarea>
	</p>
	<p class="input_p clear">
		<label for="form_Classes">Classes<br>
			<span class="form_comment">Select here all classes that are doing this assignment. To select multiple classes, press Ctrl.</span>
		</label>
		<input id="all_classes" name="all_classes" type="checkbox" {{ edit_assignment.classes_selected|length == 0 ? 'checked="true"'}}> Select all students</input><br>
		<select id="classes" name="classes[]" multiple class="sharif_input medium" {{edit_assignment.classes_selected|length == 0 ? 'readonly'}}>
			{% for class in classes %}
				<option class="possible_classes" value="{{class.class_id}}" 
				{{ (class.class_id in edit_assignment.classes_selected) ? 'selected="selected"' }}
				>{{class.class_name}}</option>
			{% endfor %}
		</select>
		{{ week_start == 1 ? 'selected="selected"' }}
	</p>
	<p class="input_p clear"> 
		<label for="form_tests_desc">Tests and Descriptions (zip file)<br>
			<span class="form_comment">
				<a href="https://github.com/mjnaderi/Sharif-Judge/blob/docs/v1.4/tests_structure.md" target="_blank">Use this structure</a>
			</span>
		</label>
		<input id="form_tests_desc" type="file" name="tests_desc" class="sharif_input medium"/>
	</p>
	<p class="input_p clear">
		<label for="form_pdf">PDF File<br>
			<span class="form_comment">
				PDF File of Assignment
			</span>
		</label>
		<input id="form_pdf" type="file" name="pdf" class="sharif_input medium"/>
	</p>
</div>
<div class="panel_right">
	<p class="input_p">
		<input id="form_a_open" type="checkbox" name="open" value="1" {{ edit ? (edit_assignment.open ? 'checked') : set_checkbox('open', '1')|raw }} />
		<label for="form_a_open" class="default">Open</label>
		<span class="form_comment space-left">Open or close this assignment</span>
		{{ form_error('open', '<div class="shj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<input id="form_a_scoreboard" type="checkbox" name="scoreboard" value="1" {{ edit ? (edit_assignment.scoreboard ? 'checked') : set_checkbox('scoreboard', '1')|raw }} />
		<label for="form_a_scoreboard" class="default">Scoreboard</label>
		<span class="form_comment space-left">Check this to enable scoreboard</span>
		{{ form_error('scoreboard', '<div class="shj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<input id="form_a_javaexceptions" type="checkbox" name="javaexceptions" value="1" {{ edit ? (edit_assignment.javaexceptions ? 'checked') : set_checkbox('javaexceptions', '1')|raw }} />
		<label for="form_a_javaexceptions" class="default">Java Exceptions</label>
		<span class="form_comment space-left">Check this to show Java exceptions to users</span>
		{{ form_error('javaexceptions', '<div class="shj_error">', '</div>') }}
	</p>
	<p class="input_p">
		<label for="form_late_rule">Coefficient rule (<a target="_blank" href="https://github.com/mjnaderi/Sharif-Judge/blob/docs/v1.4/add_assignment.md#coefficient-rule">?</a>)</label><br>
		<span class="form_comment medium clear" style="display: block;">PHP script without &lt;?php ?&gt; tags</span>
		<textarea id="form_late_rule" name="late_rule" rows="20" class="sharif_input add_text">{{ edit ? edit_assignment.late_rule : set_value('late_rule', default_late_rule) }}</textarea>
		{{ form_error('late_rule', '<div class="shj_error">', '</div>') }}
	</p>
</div>
<p class="input_p" id="add_problems">Problems <i class="fa fa-plus-circle fa-lg color11 pointer" id="add"></i>
<table id="problems_table">
	<thead>
	<tr>
		<th rowspan="2"></th>
		<th rowspan="2">Name</th>
		<th rowspan="2">Score</th>
		<th colspan="3" style="border-bottom: 1px solid #BDBDBD">Time Limit (ms)</th>
		<th rowspan="2">Memory<br>Limit (kB)</th>
		<th rowspan="2">Weight (<a target="_blank" id='weight-tooltip'><label for='weight-tooltip' title='Sum must be 100'>?</label> </a>) </th>
		<th rowspan="2">Allowed<br>Languages (<a target="_blank" href="https://github.com/mjnaderi/Sharif-Judge/blob/docs/v1.4/add_assignment.md#allowed-languages">?</a>)</th>
		<th rowspan="2">Diff<br>Command (<a target="_blank" href="https://github.com/mjnaderi/Sharif-Judge/blob/docs/v1.4/add_assignment.md#diff-command">?</a>)</th>
		<th rowspan="2">Diff<br>Argument (<a target="_blank" href="https://github.com/mjnaderi/Sharif-Judge/blob/docs/v1.4/add_assignment.md#diff-arguments">?</a>)</th>
		<th rowspan="2">Upload<br>Only (<a target="_blank" href="https://github.com/mjnaderi/Sharif-Judge/blob/docs/v1.4/add_assignment.md#upload-only">?</a>)</th>
		<th rowspan="2">Static<br>Analysis</th>
		<th rowspan="2"></th>
	</tr>
	<tr>
		<th>C/C++</th><th>Python</th><th>Java</th>
	</tr>
	</thead>
	<tbody>
	{% for problem in problems %}
		<tr>
			<td>{{ problem.id }}</td>
			<td><input type="text" name="name[]" class="sharif_input short" value="{{ problem.name }}"/></td>
			<td><input type="text" name="score[]" class="sharif_input tiny2" value="{{ problem.score }}"/></td>
			<td><input type="text" name="c_time_limit[]" class="sharif_input tiny2" value="{{ problem.c_time_limit }}"/></td>
			<td><input type="text" name="python_time_limit[]" class="sharif_input tiny2" value="{{ problem.python_time_limit }}"/></td>
			<td><input type="text" name="java_time_limit[]" class="sharif_input tiny2" value="{{ problem.java_time_limit }}"/></td>
			<td><input type="text" name="memory_limit[]" class="sharif_input tiny" value="{{ problem.memory_limit }}"/></td>
			<td><input type="text" name="weight[]" class="sharif_input tiny" value="{{ problem.weight }}"/></td>
			<td><input type="text" name="languages[]" class="sharif_input short2" value="{{ problem.allowed_languages }}"/></td>
			<td><input type="text" name="diff_cmd[]" class="sharif_input tiny" value="{{ problem.diff_cmd }}"/></td>
			<td><input type="text" name="diff_arg[]" class="sharif_input tiny" value="{{ problem.diff_arg }}"/></td>
			<td><input type="checkbox" name="is_upload_only[]" class="checkbox" value="{{ problem.id }}" {{ problem.is_upload_only ? 'checked' }}/></td>
			<td><input type="checkbox" name="static_analysis[]" id="static_analysis" class="checkbox" value="{{ problem.id }}" {{ problem.static_analysis ? 'checked' }}/></td>
			<td><i class="fa fa-times-circle fa-lg color1 delete_problem pointer"></i></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</p>
{{ form_error('name[]', '<div class="shj_error">', '</div>') }}
{{ form_error('score[]', '<div class="shj_error">', '</div>') }}
{{ form_error('c_time_limit[]', '<div class="shj_error">', '</div>') }}
{{ form_error('python_time_limit[]', '<div class="shj_error">', '</div>') }}
{{ form_error('java_time_limit[]', '<div class="shj_error">', '</div>') }}
{{ form_error('memory_limit[]', '<div class="shj_error">', '</div>') }}
{{ form_error('weight[]', '<div class="shj_error">', '</div>') }}
{{ form_error('languages[]', '<div class="shj_error">', '</div>') }}
{{ form_error('diff_cmd[]', '<div class="shj_error">', '</div>') }}
{{ form_error('diff_arg[]', '<div class="shj_error">', '</div>') }}

<div id="static_analysis_div" style="display:none">
<p class="input_p" id="add_static_analysis">Static Analysis
<table id="static_analysis_table">
	<thead>
	<tr>
		<th rowspan="2">Static Analysis<br>Discount</th>
		<th colspan="2" style="border-bottom: 1px solid #BDBDBD">Public Methods</th>
		<th colspan="2" style="border-bottom: 1px solid #BDBDBD">Auxiliary Classes</th>
		<th colspan="2" style="border-bottom: 1px solid #BDBDBD">Unnecessary Attributes</th>
		<th colspan="2" style="border-bottom: 1px solid #BDBDBD">lowerCamelCase</th>
		<th colspan="2" style="border-bottom: 1px solid #BDBDBD">Code Quality</th>
		<th rowspan="2">Duplicated<br>Code</th>	
		<th rowspan="2"></th>
	</tr>
	<tr>
		<th>Weight</th><th>Per Error (%)</th>
		<th>Weight</th><th>Per Error (%)</th>
		<th>Weight</th><th>Per Error (%)</th>
		<th>Weight</th><th>Per Error (%)</th>
		<th>Weight</th><th>Per Error (%)</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" name="static_analysis_weight" id="static_analysis_weight" onchange="calc()" class="sharif_input tiny3" value="{{ static_analysis.static_analysis_weight }}"/></td>
			<td><input type="text" name="public_methods" id="public_methods" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.public_methods }}"/></td>
			<td><input type="text" name="public_methods_each" id="public_methods_each" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.public_methods_each }}"/></td>
			<td><input type="text" name="auxiliary_classes" id="auxiliary_classes" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.auxiliary_classes }}"/></td>
			<td><input type="text" name="auxiliary_classes_each" id="auxiliary_classes_each" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.auxiliary_classes_each }}"/></td>
			<td><input type="text" name="unnecessary_attributes" id="unnecessary_attributes" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.unnecessary_attributes }}"/></td>
			<td><input type="text" name="unnecessary_attributes_each" id="unnecessary_attributes_each" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.unnecessary_attributes_each }}"/></td>
			<td><input type="text" name="lower_camel_case" id="lower_camel_case" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.lower_camel_case }}"/></td>
			<td><input type="text" name="lower_camel_case_each" id="lower_camel_case_each" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.lower_camel_case_each }}"/></td>
			<td><input type="text" name="code_quality" id="code_quality" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.code_quality }}"/></td>
			<td><input type="text" name="code_quality_each" id="code_quality_each" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.code_quality_each }}"/></td>
			<td><input type="text" name="duplicated_code" id="duplicated_code" onchange="calc()" class="sharif_input tiny" value="{{ static_analysis.duplicated_code }}"/></td>
		</tr>
	</tbody>
	<tr>
		<th colspan="16" style="border-bottom: 1px solid #BDBDBD"></th>
	</tr>
	<tbody>
		<tr>
			<th rowspan="2">Real Values</th>
			<td><input type="text" name="public_methods_value" id="public_methods_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="public_methods_each_value" id="public_methods_each_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="auxiliary_classes_value" id="auxiliary_classes_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="auxiliary_classes_each_value" id="auxiliary_classes_each_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="unnecessary_attributes_value" id="unnecessary_attributes_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="unnecessary_attributes_each_value" id="unnecessary_attributes_each_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="lower_camel_case_value" id="lower_camel_case_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="lower_camel_case_each_value" id="lower_camel_case_each_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="code_quality_value" id="code_quality_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="code_quality_each_value" id="code_quality_each_value" class="sharif_input tiny" readonly/></td>
			<td><input type="text" name="duplicated_code_value" id="duplicated_code_value" class="sharif_input tiny" readonly/></td>
		</tr>
	</tbody>
</table>
</p>
</div>

<script>
function calc() {
	let sum_weight = parseInt(document.getElementById('public_methods').value) + parseInt(document.getElementById('auxiliary_classes').value) + parseInt(document.getElementById('unnecessary_attributes').value) + parseInt(document.getElementById('lower_camel_case').value) + parseInt(document.getElementById('code_quality').value) + parseInt(document.getElementById('duplicated_code').value); 
	document.getElementById('public_methods_value').value = ((parseInt(document.getElementById('static_analysis_weight').value) / sum_weight ) * parseInt(document.getElementById('public_methods').value)).toFixed(2);
	document.getElementById('auxiliary_classes_value').value = ((parseInt(document.getElementById('static_analysis_weight').value) / sum_weight ) * parseInt(document.getElementById('auxiliary_classes').value)).toFixed(2);
	document.getElementById('unnecessary_attributes_value').value = ((parseInt(document.getElementById('static_analysis_weight').value) / sum_weight ) * parseInt(document.getElementById('unnecessary_attributes').value)).toFixed(2);
	document.getElementById('lower_camel_case_value').value = ((parseInt(document.getElementById('static_analysis_weight').value) / sum_weight ) * parseInt(document.getElementById('lower_camel_case').value)).toFixed(2);
	document.getElementById('code_quality_value').value = ((parseInt(document.getElementById('static_analysis_weight').value) / sum_weight ) * parseInt(document.getElementById('code_quality').value)).toFixed(2);
	document.getElementById('duplicated_code_value').value = ((parseInt(document.getElementById('static_analysis_weight').value) / sum_weight ) * parseInt(document.getElementById('duplicated_code').value)).toFixed(2);
	document.getElementById('public_methods_each_value').value = ((parseInt(document.getElementById('public_methods_value').value) / 100) * parseInt(document.getElementById('public_methods_each').value)).toFixed(2);
	document.getElementById('auxiliary_classes_each_value').value = ((parseInt(document.getElementById('auxiliary_classes_value').value) / 100) * parseInt(document.getElementById('auxiliary_classes_each').value)).toFixed(2);
	document.getElementById('lower_camel_case_each_value').value = ((parseInt(document.getElementById('lower_camel_case_value').value) / 100) * parseInt(document.getElementById('lower_camel_case_each').value)).toFixed(2);
	document.getElementById('unnecessary_attributes_each_value').value = ((parseInt(document.getElementById('unnecessary_attributes_value').value) / 100) * parseInt(document.getElementById('unnecessary_attributes_each').value)).toFixed(2);
	document.getElementById('code_quality_each_value').value = ((parseInt(document.getElementById('code_quality_value').value) / 100) * parseInt(document.getElementById('code_quality_each').value)).toFixed(2);
}

</script>

<p class="input_p">
	<input id="submit_button" type="submit" value="{{ edit ? 'Edit' : 'Add' }} Assignment" class="sharif_input"/>
</p>
</form>
{% endblock %}  {# main_content #}
